.header-container{
    background-image: url("../../images/headerbg1.jpg");
    max-width: 100%;
    height: calc(100vh - 60px); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title{
    font-family: var(--text-font);
    font-size: 3.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #fff;
}
.header-text{
    font-size: 1.7rem;
    font-family: var(--text-font);
    margin: 2rem 0;
    color: #fff;
    max-width: 80%;
}
.header-btn{
    display: flex;
    align-items: center;
    font-family: var(--text-font);
    text-transform: capitalize;
    padding: .6rem 1.1rem;
    font-size: 1rem;
    border: 1.5px solid #fff;
    color: #fff;
    max-width: 155px;
    transition: all .5s ease;
    cursor: pointer;
}
.header-btn:hover{
    background-color: white;
    color: #000;
}
.header-btn svg{
    margin-left: .5rem;
    padding: 0;
}
.header-container a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
