.contactus{
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 20px;
}
.contactus-section-one{
    display: flex;
    flex-direction: column;
}

.contactus-section-one h2, .contactus-section-two h2{
    font-family: var(--text-font);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.contactus-section-one p, .contactus-section-two p{
    font-family: var(--text-font);
    font-size: 1rem;
    font-weight: 400;
}

.contactus-section-one h3{
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.2rem;
}

.contactus-icons{
    display: flex;
    gap: 10px;
}

.contactus-address{
    margin-top: .5rem;
    margin-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.contactus-btn{
    padding: .7rem;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--text-font);
    cursor: pointer;
}